html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bodyContainer {
    padding: 10px;
    
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
}

.container {
    box-sizing: border-box;
    flex-shrink: 0;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.hoverContainer:hover {
    box-shadow: 0px 2px 8px #c0b9b9;
}


// image and advance search 
.top {
    height: 8%;
    width: 100%;
    padding-right: 0;
    margin-right: 2%;
    justify-content: flex-end;
    
    .upperLinks {
        justify-content: flex-end;
        width: 60%;
        height: 30px;
        // padding-right: 2%;
        font-family: Arial, sans-serif;
        font-size: medium;
        color: rgb(0, 0, 133);
    }
}

.link {
    margin: 3px;
    padding: 5px;
    height: 30px;
    text-decoration: none;
    color: rgb(0, 0, 133);

}

.link:hover {
    color: rgb(0, 0, 133);
}

#advLink {
    padding-left: 15px;
}

// google logo
.google {
    flex-direction: column;
    height: 35%;
    width: 100%;
    align-items: center;
    
    #imgSegment {
        margin-top: auto;
        height: 120px;
        width: 350px;
    }
}

// search bar and buttons
.lastContainer {
    padding: 20px;
    max-height: 180px;
    width: 100%;
    
    justify-content: center;
    position: relative;
}


.subDiv1 {
    height: 180px;
    width: 60%;
    max-width: 580px;
    padding-top: 5px;
    padding-left: 3%;
    flex-direction: column;
    
}

.searchBox {
    height: 44px;
    width: auto;
    max-width: 515px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px; 
}

// search box
.innerSearchBox {
    padding: 5px 8px 5px 14px;
    width: 100%;
    justify-content: flex-start;
} 

.searchIcon {
    padding: 3px 1px 4px 2px;
}

// search bar
.searchBar {
    width: 90%;
    height: 40px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.inputText {
    border: 0px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: large;
}
.inputText:focus {
    outline: none;
}


// buttons
.buttonDiv {
    flex-direction: row;
    padding-top: 20px;
    // height: 70px;
    height: 50%;
    // width: 90%;
    justify-content: center;
}

.button1, .button2 {
    margin: 5px;
    padding: 0px 2px 0px 2px;
    // width: 150px;
}
.button2 {
    padding-right: 15px;
}

.buttonprop {
    // padding: 0px 2px 0px 2px;
    padding-left: 12px;
    padding-right: 12px;
}

